@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(171, 66%, 44%);
  --secondary-light-blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
p {
  color: var(--Dark-Grayish-Blue);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1rem;
}
.container-middle {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

header {
  min-height: 30vh;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2rem 1.5rem;
}

header h1 {
  margin: 1rem;
}
header p {
  color: var(--Dark-Grayish-Blue);
}
.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}
.btn {
  font-size: 1.5rem;
  padding: 0.6em 1em;
  border-radius: 50px;
  display: inline-block;
  border: none;
  color: white;
}
.first-btn {
  background-color: var(--primary);
}
.second-btn {
  background-color: var(--secondary-light-blue);
}
.first-section {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}
.first-section .container p {
  color: var(--Dark-Grayish-Blue);
  margin-top: 1rem;
}
.second-section {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: 1rem;
}
.second-section .container .left {
  flex: 6;
}
.img {
  width: 100%;
}
.second-section .container .right {
  flex: 8;
  text-align: left;
}
.second-section .container .right div {
  margin-bottom: 1.5rem;
}
.workflow {
  margin-bottom: 1rem;
}
.last-section {
  min-height: 30vh;
  text-align: center;
  padding: 2rem 1.5rem;
}
footer {
  height: 20vh;
  background-color: var(--Grayish-Blue);
}
.container-footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  color: var(--Dark-Grayish-Blue);
}
footer .icon {
  width: 70px;
  height: 70px;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: var(--primary);
}
ul .twitter {
  color: rgb(20, 102, 179);
}
ul .instagram {
  color: black;
}
ul .fb {
  color: rgb(2, 41, 92);
}
@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .img-2 {
    width: 500px;
  }
}
